table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
strong {
	margin: 50px;
	background-color: lightblue;
  }
strong {
	padding: 50px;
	background-color: lightblue;
  }
  p{
	padding: 5px 50px 30px 5px;
	background-color: lavender;
	margin-top: 25px;
	margin-bottom50px;
	}