.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 40px;
	border-width: 70px;
	border-style: groove;
}

.button2 {
	border-radius: 40%;
	border-style: inherit;
	border-style: inset;
}

.red {
	background-color: #189bd8;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}
.title{
	color: rgb(26, 196, 162);
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }
  *{
    text-align:right;
    border: 2px solid rgb(0, 0, 0);
}