.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
 }
  
 .button-cool {
	border-radius: 8px;
 }
  
 .button-sick {
	border-radius: 30%;
 }
  
 .red {
	background-color: #ff0000;
 }
  
 .button5 {
	background-color: blanchedalmond;
	border-radius: 30%;
 }
  
 .button9 {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #000000 5%, #476e9e 100%);
	background-color:#000000;
	border-radius:10px;
	border:1px solid #364d8f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
 }
 .button9:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #000000 100%);
	background-color:#476e9e;
 }
 .button9:active {
	position:relative;
	top:1px;
 }
  
 td{
	padding:20px;
 }
  
 table{
	margin-left: auto;
	margin-right: auto;
 }
  
 h1, h2, h3, h4, h5, h6{
	text-align:center;
 }
 .title{
	color: blueviolet;
	font-family: 'Courier New', monospace; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  } 
  *{
    border-bottom: 0.05px solid mediumvioletred;
}