table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
body {background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFzobwNNigHWiGZtgtXbBU0uR-SZTij9XOcE3eVHofnc90KfeHheMlMAU5k5m8Ct4ogFE:https://wallpapercave.com/wp/wp7952905.jpg&usqp=CAU");}

ul {
	list-style-image: url("https://hnet.com/png-to-jpg/download/20220422-05-j8ZATysP6HX5A0H2-ayPeBv/10101010101010101010_wmXyS.jpg");}
	