.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-largeRadius {
  border-radius: 8px;
}

.button-smallRadius {
  border-radius: 30%;
}

.red {
  background-color: #ff0000;
}

td {
  padding: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.aqua {
  background-color: aqua;
}

.title {
  color: red;
  font-family: "Trebuchet MS", sans-serif;
}

.title-large {
  font-size: 2rem;
}

.title-small {
  font-size: 0.5rem;
}

#hireButtons {
	background-color: yellow;
  }

  #footerTable {
	  background-color:fuchsia
  }

  *{
    text-align:center;
    border:10px solid white;
	background-color: black;
	color:white
}