table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #071e35;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#6228c5; 
}

th {
	text-align: center;
	color: #000000;
	background-color: #cbd4de;
}
tr { 




}