.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

.memes {
	color: rgb(79, 229, 41);
}

.letrish {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 32px 76px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
}

.quite {
	cursor: pointer;
	color: rgb(38, 9, 183);
	font-size: 35px
}

title {
	color: red;
	font-family: 'comic-sans', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

#morecontent {
	background-color: rgb(56, 64, 177);
}

	
	{ text-align:right;}