table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
body {
	background-image: linear-gradient(to bottom, rgba(9, 246, 52, 0.5), rgba(0,0,255,0.5));
}
ul	{
	list-style-image:url("../images/good.png");
}